$color-1: #fff;
$color-2: rgb(0, 0, 0);

$text-color-1: rgba(0, 0, 0, 0.87);
$text-color-1-soft: rgba(0,0,0,.58);

$color-green-accent: #00754a;

$transition-navmenu-duration: .6s;

$header-mobile-height: 3.2em;
 
/*======================== MAIN SECTIONS ============= */
$max-width-content: 1440px;

$main-bg-1: $color-green-accent;
$main-bg-1-hover: #00633f;
$main-bg-2: #d9e89a;
$main-bg-2-hover: #c8d68f;
$main-bg-3: #9e2240;
$main-bg-3-hover: #801d35;
$main-bg-4: #d2d655;
$main-bg-4-hover: #b4b84e;
$main-bg-5: #ffbe9e;
$main-bg-5-hover: #f0aa87;

$main-text-color-1: $color-1;
$main-text-color-2: #1e3932;

/* ========================== FOOTER ================ */
$margin-b-li: .5rem;
$padding-y-a: .5rem 0;
